@charset "utf-8";
/* CSS Document */
<style type="text/css">


.middle {
	text-align: center;
}
body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	color: #666;
	font-size: small;
}
body {
	background-color: #b0e0e6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: left;
}
a:link {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}
a:hover {
	text-decoration: underline;
	font-weight: bold;
	color: #900;
}
a:active {
	text-decoration: none;
	font-weight: bold;
	color: #900;
}


.loud {
	font-weight: bold;
}
.lefty {
	text-align: left;
}
.middlething {
	text-align: center;
}

